html {
    background-color: black;
}

.title {
    color: dodgerblue;
    text-align: center;
    font-size: 80px;
    font-family: "Lucida Console", "Monaco", monospace;
}

#theTime {
    color: lawngreen;
    text-align: center;
    font-size: 60px;
    font-family: "Sans-serif", "verdana";
}

.wake {
    text-align: center;
    display: block;
    color: dodgerblue;
}

.coffee {
    color: white;
    text-align: center;
    display: block;
    color: dodgerblue;
}

.code {
    color: white;
    text-align: center;
    display: block;
    color: dodgerblue;
}

.nap {
    text-align: center;
    display: block;
    color: dodgerblue
}

.btns {
    text-align: center;
    display: block;
}

#submit {
    background-color: red;
    font-size: 20px;
    padding: 6px;
    border-radius: 8px;
    border-color: red;
    color: white;
}

#reset {
    background-color: deepskyblue;
    font-size: 20px;
    padding: 6px;
    border-radius: 8px;
    border-color: deepskyblue;
    color: white; 
}